.ios,
.md {
    page-movie-category {
        ion-card {
            background-color: transparent;
            box-shadow: none;
            position: relative;
            margin-top: 0;
            img {
                box-shadow: 0 2px 6px rgba(0, 0, 0, 0.65);
            }
        }
        ion-col {
            padding: 0;
        }
        ion-card-content {
            padding: 0px;
            text-align: center;
            p {
                color: #000;
            }
        }
        ion-card-title {
            padding: 5px;
            font-size: 1em;
            font-weight: bold;
            color: #000;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}