<ion-header>

    <ion-navbar color="primary">
        <ion-title>电影信息</ion-title>
    </ion-navbar>

</ion-header>
<ion-content *ngIf="!movieInfo">
    <div *ngIf="!hasErr" class="loading">
        <ion-spinner name="bubbles"></ion-spinner>
    </div>
    <div *ngIf="hasErr">
        <div class="loading" (click)="initData()">
            <img src="assets/image/404.png" style="width:50%">
        </div>
    </div>
</ion-content>
<ion-content *ngIf="movieInfo" elastic-header>
    <div class="background-image" [ngStyle]="{'background-image':'url(' + movieInfo.images.large + ')'}"></div>
    <div class="main-content">
        <h2>{{movieInfo.title}}</h2>
        <ion-chip color="primary" *ngFor="let genre of movieInfo.genres">
            <ion-label>{{genre}}</ion-label>
        </ion-chip>
        <p class="text-reader">
            {{movieInfo.summary}}
        </p>
    </div>
    <ion-fab right bottom>
        <button ion-fab color="primary" mini><ion-icon name="ios-send"></ion-icon></button>
        <ion-fab-list side="top">
            <button ion-fab (click)="shareMovie('friends',movieInfo)"><i color="primary" class="iconfont icon-friends"></i></button>
            <button ion-fab (click)="shareMovie('weixin',movieInfo)"><i color="primary" class="iconfont icon-weixin"></i></button>
            <button ion-fab (click)="shareMovie('Qzone',movieInfo)"><i color="primary" class="iconfont icon-Qzone"></i></button>
            <button ion-fab (click)="shareMovie('QQ',movieInfo)"><i color="primary" class="iconfont icon-QQ"></i></button>
        </ion-fab-list>
    </ion-fab>
</ion-content>