// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
a {
    text-decoration: none;
}

ion-content {
    overflow: hidden;
}

.c-w {
    color: #FFF;
}

.c-b {
    color: #000;
}

.dis-t {
    display: table;
}

.dis-tc {
    display: table-cell;
    text-align: center;
    vertical-align: middle
}

.menu-header {
    background: url(../assets/image/menu-header-back.jpg) no-repeat fixed center;
    width: 100%;
    height: 15em;
}

.menu-header h2 {
    margin: 0.2em 0;
}

.menu-user-photo {
    width: 8em;
    height: 8em;
    border-radius: 50%;
}

.loading {
    text-align: center;
    margin-top: calc(20vh);
}

.text-reader {
    line-height: 1.5em;
    text-indent: 2em;
}

@font-face {
    font-family: 'iconfont';
    src: url('../assets/myFonts/iconfont.eot');
    /* IE9*/
    src: url('../assets/myFonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../assets/myFonts/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../assets/myFonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../assets/myFonts/iconfont.svg#iconfont') format('svg');
    /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 2.4rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.icon-QQ:before {
    content: "\e607";
}

.icon-Qzone:before {
    content: "\e608";
}

.icon-weixin:before {
    content: "\3433";
}

.icon-friends:before {
    content: "\e644";
}

.line-text {
    font-size: 1.2em;
    margin: 0;
}

.line-text:before,
.line-text:after {
    content: '';
    position: absolute;
    top: 50%;
    background: #e8e8e8;
    width: 20%;
    height: 2px;
}

.line-text:before {
    left: 15%;
}

.line-text:after {
    right: 15%;
}